<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Corona Virus Info</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
<body>
<div class ='container'>
	
	<table class="table table-striped">
		<h2> Global Summary</h2>
	<thead>
	   <tr>
	   	<th scope="col"> Province/ State</th>
	   	<th scope="col">Country/Region</th>
	     <th scope="col">Confirmed </th>
	     <th scope="col"> Deaths </th>
	</tr>
	<tbody>
	<tr>
		<td> Global </td>
		<td>{{ data.summaryStats.global.confirmed }} </td>
		<td>{{ data.summaryStats.global.recovered }} </td>
		<td>{{ data.summaryStats.global.deaths }} </td>
	</tr>
	<tr>
		<td> Mainland China </td>
		<td>{{ data.summaryStats.mainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.mainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.mainlandChina.deaths }} </td>
	</tr>
	<tr>
		<td> Non Mainland China </td>
		<td>{{ data.summaryStats.nonMainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.deaths }} </td>
	</tr>	     		
	 
	</div>
</div>

<div class ='container'>

<table class="table table-striped">
	<h2> Country Summary</h2>
    <thead>
       <tr>
       	<th scope="col"> Province/ State</th>
       	<th scope="col">Country/Region</th>
         <th scope="col">Confirmed </th>
         <th scope="col"> Deaths </th>
         <th scope="col"> Recovered </th>
       </tr>
     </thead>
     <tbody>
    {% for row in data.rawData %}
    <tr>
    	<td>{{ row.Province }}</td>		
    	<td>{{ row.Country }}</td>		
      <td>{{ row.Confirmed }}</td>
      <td>{{ row.Deaths }}</td>
      <td>{{ row.Recovered }}</td>
      
    </tr>
	{% endfor %}
</tbody>
</table>
</div>
</body>
</html>