{% extends "base.html" %} 
{% block content %}
<div class ='container'>
	
	<table class="table table-striped">
		<h2> Global Summary</h2>
	<thead>
	   <tr>
	   	<th scope="col"> Province/ State</th>
	   	<th scope="col">Country/Region</th>
	     <th scope="col">Confirmed </th>
	     <th scope="col"> Deaths </th>
	</tr>
	<tbody>
	<tr>
		<td> Global </td>
		<td>{{ data.summaryStats.global.confirmed }} </td>
		<td>{{ data.summaryStats.global.recovered }} </td>
		<td>{{ data.summaryStats.global.deaths }} </td>
	</tr>
	<tr>
		<td> Mainland China </td>
		<td>{{ data.summaryStats.mainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.mainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.mainlandChina.deaths }} </td>
	</tr>
	<tr>
		<td> Non Mainland China </td>
		<td>{{ data.summaryStats.nonMainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.deaths }} </td>
	</tr>	     		
	 
	</div>
</div>

<div class ='container'>

<table class="table table-striped">
	<h2> Country Summary</h2>
    <thead>
       <tr>
       	<th scope="col"> Province/ State</th>
       	<th scope="col">Country/Region</th>
         <th scope="col">Confirmed </th>
         <th scope="col"> Deaths </th>
         <th scope="col"> Recovered </th>
       </tr>
     </thead>
     <tbody>
    {% for row in data.rawData %}
    <tr>
    	<td>{{ row.Province }}</td>		
    	<td>{{ row.Country }}</td>		
      <td>{{ row.Confirmed }}</td>
      <td>{{ row.Deaths }}</td>
      <td>{{ row.Recovered }}</td>
      
    </tr>
	{% endfor %}
</tbody>
</table>
</div>
</body>
</html>

{% endblock %}