{% extends "base.html" %} 
{% block content %}

	




<h3> Reputable Sources</h3>
<ul class="list-group">
	<li class='list-group-item'> <a href = 'https://www.who.int/emergencies/diseases/novel-coronavirus-2019'> WHO - Novel Coronavirus</a> </li>
	<li class='list-group-item'> <a href = 'https://www.gov.uk/guidance/wuhan-novel-coronavirus-information-for-the-public'> UK GOV - Novel Coronavirus</a> </li>
</ul>	


<table class="table table-striped">
	<h3> For Academics</h3>
<thead>
   <tr>
   	<th scope="col 3"> Source </th>
   	<th scope="col 3">Date</th>
	</tr>
</thead>
<tbody>
<tr>
	<td><a href ='https://ncbiinsights.ncbi.nlm.nih.gov/2020/01/13/novel-coronavirus/'> Novel coronavirus complete genome from the Wuhan outbreak on GenBank </a></td>
	<td> # </td>
</tr>
</tbody>
</table>

<table class="table table-striped">
	<h3> Podcasts </h3>
<thead>
   <tr>
   	<th scope="col 3"> Source </th>
   	<th scope="col 3">Date</th>
	</tr>
</thead>
<tbody>
<tr>
	<td><a href ='http://www.microbe.tv/twiv/twiv-585/'> This Week in Virology 585: The coronavirus epidemic </a></td>
	<td># </td>
</tr>
<tr>
	<td><a href ='http://www.microbe.tv/twiv/twiv-584/'> This Week in Virology 585: The coronavirus epidemic </a></td>
	<td># </td>
</tr>
</tbody>
</table>



{% endblock %}