{% extends "base.html" %} 
{% block content %}
<div class ='container'>
	<h1> Data Source: <a href = 'https://docs.google.com/spreadsheets/u/1/d/1wQVypefm946ch4XDp37uZ-wartW4V7ILdg-qYiDXUHM/htmlview?usp=sharing&sle=true'> John Hopkins University </a></h1>
	
	<table class="table table-striped">
		<h2> Global Summary {{ time }} </h2>
	<thead>
	   <tr>
	   	<th scope="col"> Province/ State</th>
	   	<th scope="col">Confirmed</th>
	     <th scope="col">Recovered </th>
	     <th scope="col"> Deaths </th>
	     <th scope="col"> Mortality Rate </th>
	</tr>
	<tbody>
	<tr>
		<td> Global </td>
		<td>{{ data.summaryStats.global.confirmed }} </td>
		<td>{{ data.summaryStats.global.recovered }} </td>
		<td>{{ data.summaryStats.global.deaths }} </td>
		<td>{{ '%0.2f'|format((data.summaryStats.global.deaths / data.summaryStats.global.confirmed * 100)|float) }}% </td>
	</tr>
	<tr>
		<td> Mainland China </td>
		<td>{{ data.summaryStats.mainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.mainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.mainlandChina.deaths }} </td>
		<td>{{ '%0.2f'|format((data.summaryStats.mainlandChina.deaths / data.summaryStats.mainlandChina.confirmed * 100)|float)   }}% </td>
	</tr>
	<tr>
		<td> Non Mainland China </td>
		<td>{{ data.summaryStats.nonMainlandChina.confirmed }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.recovered }} </td>
		<td>{{ data.summaryStats.nonMainlandChina.deaths }} </td>
		<td>{{ '%0.2f'|format((data.summaryStats.nonMainlandChina.deaths / data.summaryStats.nonMainlandChina.confirmed * 100)|float)   }}% </td>
	</tr>	     		
	 
	</div>
</div>

<div class ='container'>

<table id='stats' class="table table-striped">
	<h2> Country Summary {{ time }}</h2>
    <thead>
       <tr>
       	<th scope="col"> Province/ State</th>
       	<th scope="col">Country/Region</th>
         <th scope="col">Confirmed </th>
         <th scope="col"> Deaths </th>
         <th scope="col"> Recovered </th>
         <th scope="col"> Mortality Rate </th>
       </tr>
     </thead>
     <tbody>
    {% for row in data.rawData %}
    <tr>
    	<td>{{ row.Province }}</td>		
    	<td>{{ row.Country }}</td>		
      <td>{{ row.Confirmed }}</td>
      <td>{{ row.Deaths }}</td>
      <td>{{ row.Recovered }}</td>
      <td>{{ '%0.2f'|format((row.Deaths|float / row.Confirmed|float * 100)|float)   }}% </td>
      
    </tr>
	{% endfor %}
</tbody>
</table>

<script src = 'https://code.jquery.com/jquery-3.3.1.js'> </script>
<script src = 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
<script src = 'https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js'> </script>    
    
<script>
	$(document).ready(function() {
    $('#stats').DataTable();
} );
</script>
</div>
</body>
</html>

{% endblock %}